<<<<<<< HEAD
<!doctype html>
=======
>>>>>>> 4ecdef67a8cca103acaaa4d921d8527e8890174b
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <header>
<<<<<<< HEAD
      <h1><a href="/users">Newsd</a></h1>
=======
      <h1><a href="/users">Topics</a></h1>
>>>>>>> 4ecdef67a8cca103acaaa4d921d8527e8890174b
    </header>
    {{{body}}}
  </body>
</html>
