body {
  background-color : #C0C0C0;
  font-family: Arial, Helvetica, sans-serif;

}

.navbar-default {
  background-color: #FFF;
}

.navbar-default .navbar-header .navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #00BBFF;
}

.navbar-default .navbar-right {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #FFF;
  font-size: 15px;
}

.article {
  margin: 30px;
}

.date {
  font-weight: 400;
}

/*video#bgvid{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
}*/
