body p {
  background-color : #FFF;
  font-family: 'Roboto', Helvetica, sans-serif;
}

.form-group {
  font-family: 'Roboto', Helvetica, sans-serif;
}
.fa-sign-in {
  font-family: 'Roboto', Helvetica, sans-serif;
}

.btn {
  font-family: 'Roboto', Helvetica, sans-serif;
}

.navbar-default {
  background-color: #FFF;
}

.navbar-default .navbar-header .navbar-brand {
  padding-left: 130px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #00BBFF;
}

.navbar-default .navbar-right {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 600;
  color: #FFF;
  font-size: 15px;
}

.article {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropdown-menu {
  font-weight: 400;
  color: black;
  align-content: center;
}

#jumbo {
  opacity: .80;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(sunsetscreenshot.jpg) no-repeat;
    background-size: cover;
}
