<!doctype html>
<html>
<head>
  <title>Dai.ly</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!--remove style tags later -->
  <style>
  body {
    padding-top:100px;
  }
  </style>
</head>
<body>


 <div class="container">

  <div class="jumbotron text-center">
    <h1> Dai.ly </h1>

    <p> Login or Sign up </p>

    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-pencil"></span> Sign Up</a>

    <hr>

    <a href="/auth/twitter"><img id="twitter-login" src="http://i.imgur.com/3kYcO3Y.png" height="45px" width="200px"></a>
    <a href="/auth/facebook"><img id="facebook-login" src="https://goo.gl/jDxQQo" height="40px" width="200px"></a>
  </div>
</div>
</body>
</html>

<!-- 
<div class="background-wrap">

<video autoplay loop poster="sunset.jpg" id="bgvid">
  <source src="/news_dashboard/public/sunset.mp4" type="video/mp4"
</video>

</div> -->

<!--
<a href="/topics/new">New Topic</a>
<! Iterates through each author -->
<!-- {{#each user.topics}}
<div class="topic">
<div class="topicName">{{keyword}}</div> -->
<!-- For each topic, it will iterate through their articles -->
<!-- {{#each topics}}
<p class='reminder'>{{keyword}}</p>
{{/each}} -->
<!-- </div>
{{/each}} -->
