<a href="/topics/new">New Topic</a>
<!-- Iterates through each author -->
{{#each users}}
  <div class="topic">
    <div class="topicName"><a href="/user/{{_id}}">{{name}}</a></div>
    <!-- For each author, it will iterate through their reminders -->
  </div>
{{/each}}
