<!doctype html>
<html>
<head>
  <title>Dai.ly</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- remove style tags later -->
  <style>
    body {
      padding-top:120px;
    }
  </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

  <h1><span class="fa fa-sign-in"></span> Sign Up </h1>

  {{#if message}}
    <div class="alert alert-danger">{{message}}</div>
  {{/if}}

  <form action="/signup" method="post">
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" name="email">
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="text" class="form-control" name="password">
    </div>

    <button type="submit" class="btn btn-warning btn-md">Sign Up </button>
  </form>

  <hr>

  <p>Already have an account? <a href="/login">Login</a></p>

</div>
</body>
</html>






<!-- <h2>Signup</h2>

{{#if message}}
  <div class="alert alert-danger">{{message}}</div>
{{/if}}

<form method="post" action="/signup">
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="text" name="email" id="email">
  </div>

  <div class="form-group">
    <label for="email">Password</label>
    <input class="form-control" type="password" name="password" id="password">
  </div>

  <input class="btn btn-default" type="submit">
</form> -->
