<!-- jsm: see note in index.hbs -->
<!doctype html>
<html>
<head>
  <title>Dai.ly</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- remove style tags later -->
  <style>
    body {
      padding-top:auto;
    }
  </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

  <h1><span class="fa fa-sign-in"></span> Sign Up </h1>

  {{#if message}}
    <div class="alert alert-danger">{{message}}</div>
  {{/if}}

  <form action="/signup" method="post">
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" name="email">
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password">
    </div>

    <button type="submit" class="btn btn-warning btn-md">Sign Up </button>
  </form>

  <hr>

  <p>Already have an account? <a href="/login">Login</a></p>

  <a href="/auth/twitter"><img id="twitter-login" src="http://i.imgur.com/3kYcO3Y.png" height="45px" width="200px"></a>
  <a href="/auth/facebook"><img id="facebook-login" src="https://goo.gl/jDxQQo" height="40px" width="200px"></a>
</div>
<video autoplay poster="sunsetscreenshot.jpg" id="bgvid">
  <source src="/video/sunsetmovie.mp4" type="video/mp4">
</video>
</body>
</html>
