<!-- Creates a basic form to create a topic -->
<h2>Create new Topic</h2>
<form action="/topics" method="post">
<label>Keyword:</label>
<input type="text" name="keyword">
<input type="submit">
</form>
